<html>

<head>
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img id="imgLogo" src="img/logo.png">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="listaBovino" class="waves-effect waves-light btn-flat">Bovinos</a>
                    <a href="listaProprietario" class="waves-effect waves-light btn-flat">Proprietários</a>
                </li>
            </ul>
            <div style="padding: 15px; margin-left: 220px;">
                <a class="waves-effect waves-light btn-flat" href="cadastraBovino">
                    </i>Cadastrar</a>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 25px;">

        <h5>
            <b>Lista de Bovinos</b>
        </h5>

        <table class="striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Raça</th>
                    <th>Peso</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Proprietário</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>

            <tbody>
                <% if (bovinos.length > 0) {%>
                    <% for(var i = 0; i < bovinos.length; i++) {%>
                        <tr>
                            <td>
                                <%=bovinos[i].id_bovino%>
                            </td>
                            <td>
                                <%=bovinos[i].nome%>
                            </td>
                            <td>
                                <%=bovinos[i].raca%>
                            </td>
                            <td>
                                <%=bovinos[i].peso%>
                            </td>
                            <td>
                                <%=bovinos[i].idade%>
                            </td>
                            <td>
                                <%=bovinos[i].sexo%>
                            </td>
                            <td>
                                <%=bovinos[i].proprietario%>
                            </td>
                            <td>
                                <a class="btn waves-effect waves-light" style="padding: 0px 1rem;">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                            <td>
                                <a class="btn waves-effect waves-light red darken-4" style="padding: 0px 1rem;">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>